/* Reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

textarea, button, input {
    font: inherit;
}

/* Base */

:root {
    --color-primary: rgb(77, 255, 77);
    --color-primary-dark: #00cc00;
    --color-primary-darker: #009900;
    --color-graygreen: #001a00;
    --color-light: #ffffff;
    --color-mid: #fafafa;
    --color-font-body: #333333;
}

body {
    color: var(--color-font-body);
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 0.875rem;
}

/* Layout */

.container {
    max-width: 62.5rem;
    margin: 0 auto;
}

/* Flex utility classes */

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-justify-sb {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

/* Typography */

.heading {
    color: var(--color-primary-darker);
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

.text-body {
    max-width: 40rem;
    margin: 0 auto;
    line-height: 1.7;
}

/* Sections */

.header {
    height: 40rem;
    background: 
    linear-gradient(45deg, rgba(77, 255, 77, 0.4) 0%, rgba(0, 0, 0, 0.5) 100%),
    url("./images/header.jpg");
    background-size: cover;
    background-position: bottom center;
}

section, .adventures {
    margin: 2rem 0;
    text-align: center;
}

/* Components */

.navbar__nav {
    display: flex;
}

.navbar__nav-link {
    color: var(--color-light);
    display: block;
    padding: 1rem 1.5rem;
    position: relative;
    z-index: 1;
}

.navbar__nav-link:hover {
    color: var(--color-primary-darker);
}

.navbar__nav-item {
    position: relative;
}

.navbar__nav-item::before {
    content: "";
    position: absolute;
    background-color: var(--color-light);
    opacity: .3;
    height: 100%;
    width: 0;
    display: block;
    transition: width .3s ease-out;
}

.navbar__nav-item:hover::before {
    width: 100%;
}

.adventure {
    flex: 0 0 25%;
    padding: 1.5rem 0;
}

.adventure__img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    vertical-align: center;
    transition: all .3s;
}

.adventure__img:hover {
    transform: scale(1.1);
}

.adventure__name {
    color: var(--color-primary-darker);
    font-size: 1.3rem;
    margin-top: .7rem;
    font-weight: 200;
}