/* Reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

textarea, button, input {
    font: inherit;
}

/* Base */

:root {
    --color-primary: rgb(77, 255, 77);
    --color-primary-dark: #00cc00;
    --color-primary-darker: #009900;
    --color-graygreen: #001a00;
    --color-light: #ffffff;
    --color-mid: #fafafa;
    --color-font-body: #333333;
}

body {
    color: var(--color-font-body);
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 0.875rem;
}

/* Layout */

.container {
    max-width: 62.5rem;
    margin: 0 auto;
}

/* Flex utility classes */

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-justify-sb {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

/* Typography */

.heading {
    color: var(--color-primary-darker);
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

.text-body {
    max-width: 40rem;
    margin: 0 auto;
    line-height: 1.7;
}

/* Sections */

.header {
    background-color: transparent;
    width: 100%;
    position: fixed;
    transition: all .8s;
}

section, .adventures {
    margin: 2rem 0;
    text-align: center;
}

/* Components */

.brand {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .3rem;
    color: var(--color-light);
}

.hero {
    height: 40rem;
    background: 
    linear-gradient(45deg, rgba(77, 255, 77, 0.4) 0%, rgba(0, 0, 0, 0.5) 100%),
    url("./images/header.jpg");
    background-size: cover;
    background-position: bottom center;
}

.hero__heading {
    font-size: 2.6rem;
    color: var(--color-light);
    font-weight: 200;
    margin-bottom: .6rem;
}

.hero__text {
    color: var(--color-light);
    line-height: 1.5;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.hero__btn {
    display: inline-block;
    padding: .7rem 2rem;
    background-color: var(--color-light);
    border-radius: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar > * {
    flex: 1;
}

.navbar__nav {
    display: flex;
    gap: 3rem;
    justify-content: flex-end;
}

.navbar__nav-item {
    padding: 1.5rem 0;
}

.navbar__nav-link {
    font-size: 1.05rem;
    color: var(--color-light);
    opacity: .8;
    transition: opacity .2s;
}

.navbar__nav-link:hover {
    opacity: 1;
}

.adventure {
    flex: 0 0 25%;
    padding: 1.5rem 0;
}

.adventure__img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    vertical-align: center;
    transition: all .3s;
}

.adventure__img:hover {
    transform: scale(1.1);
}

.adventure__name {
    color: var(--color-primary-darker);
    font-size: 1.3rem;
    margin-top: .7rem;
    font-weight: 200;
}